<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditExamensTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditExamensLabel_idExamen}" for="idExamen" />
                    <h:inputText id="idExamen" value="#{examensController.selected.idExamen}" title="#{bundle.EditExamensTitle_idExamen}" required="true" requiredMessage="#{bundle.EditExamensRequiredMessage_idExamen}"/>
                    <h:outputLabel value="#{bundle.EditExamensLabel_nom}" for="nom" />
                    <h:inputText id="nom" value="#{examensController.selected.nom}" title="#{bundle.EditExamensTitle_nom}" required="true" requiredMessage="#{bundle.EditExamensRequiredMessage_nom}"/>
                    <h:outputLabel value="#{bundle.EditExamensLabel_matiere}" for="matiere" />
                    <h:inputText id="matiere" value="#{examensController.selected.matiere}" title="#{bundle.EditExamensTitle_matiere}" required="true" requiredMessage="#{bundle.EditExamensRequiredMessage_matiere}"/>
                    <h:outputLabel value="#{bundle.EditExamensLabel_nombreQuestions}" for="nombreQuestions" />
                    <h:inputText id="nombreQuestions" value="#{examensController.selected.nombreQuestions}" title="#{bundle.EditExamensTitle_nombreQuestions}" required="true" requiredMessage="#{bundle.EditExamensRequiredMessage_nombreQuestions}"/>
                </h:panelGrid>
                <h:commandLink action="#{examensController.update}" value="#{bundle.EditExamensSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditExamensViewLink}"/>
                <br />
                <h:commandLink action="#{examensController.prepareList}" value="#{bundle.EditExamensShowAllLink}" immediate="true"/>
                <br />
                <br />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
