<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <f:metadata >
        <f:viewParam name="id" value="#{passerExamensManagedBean.examenId}" required="true"/>
        <f:viewAction action="#{passerExamensManagedBean.loadExamens()}"/>
    </f:metadata>
    
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <f:view>



            <h:form>
                <h1><h:outputText value="Questions"/></h1>
                <p:dataTable value="#{passerExamenManagedBean.questions}" var="item"
                             paginator="true" rows="1" 
                             widgetVar="questionsList">

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Consigne"/>
                        </f:facet>
                        <h:outputText value="#{item.consigne}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Question"/>
                        </f:facet>
                        <h:outputText value="#{item.question}"/>
                    </p:column>
                </p:dataTable>
            </h:form>

        </f:view>

    </h:body>
</html>

