<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
  
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <f:view>


            <h:form>
                <h1><h:outputText value="List"/></h1>
                <p:dataTable value="#{reponsesController.reponces}" var="item" >
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="IdReponse"/>
                        </f:facet>
                        <h:outputText value="#{item.idReponse}"/>
                    </p:column>
                  
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Reponse"/>
                        </f:facet>
                        <h:outputText value="#{item.reponse}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="IsBonneReponse"/>
                        </f:facet>
                        <h:outputText value="#{item.isBonneReponse}"/>
                    </p:column>
                </p:dataTable>
            </h:form>
        </f:view>

    </h:body>
</html>

